.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.carousel-images {
  display: flex;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-images img.active {
  opacity: 1;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #D0D5DD;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #495057;
}
.carousel-images img {
  width: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-images img.active {
  opacity: 1;
}

/* Added CSS for initially hiding images */
.carousel-images img.hidden {
  display: none;
}
